body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    font-family: -apple-system,system-ui;
    color: white;
    display: grid;
    position: fixed;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 45px 35px;
}

#divSubheadingTitle, #divSubheadingWeather, #pHeading, #pCal, #pSeparator, #imgWeatherIcon, #pTemp, 
#imgSubheading, #pSubheading, #pSeparatorSubheading, #imgWeatherIconSubheading, #pTempSubheading {
    display: inline-block;
}

/**********************/
/*** Heading Styles ***/
/**********************/

.classHeading {
    grid-row: 1;
    grid-column: 1;

    font-size: 24px;
}

#pSeparator {
    padding: 0px 8px;
}

#imgWeatherIcon {
    position: relative;
    bottom: -4px;
    padding-right: 4px;
    height: 24px;
    width: 24px;
}

/*********************/
/* Subheading Styles */
/*********************/

.classSubheading {
    grid-row: 2;
    grid-column: 1;

    font-size: 16px;
}

#imgSubheading {
    position: relative;
    bottom: -7.5px;
    left: -6px;
    margin-right: -9px;
    height: 26px;
    width: 26px;
}

#pSeparatorSubheading {
    padding: 0px 5px;
}

#imgWeatherIconSubheading {
    position: relative;
    bottom: -2px;
    padding-right: 2px;
    height: 16px;
    width: 16px;
}